<h1>Products</h1>
<div class= "each_product">
	<% @products.each do |product|%>
		<div class= "product_name"><%= link_to (product[:name]), product_path(product[:id]) %><br/></div>
		<div class= "product_desc"><%= product.description %><br/></div>
		<div class= "product_price">$<%= product.formatted_price %><br/></div>
	<% end %>
</div>
